* {
  margin: 2px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 24px;
  color: white;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.flex_header {
  background-color:  rgb(200, 223, 244);;
  padding-top: 3rem;
}

.flex_main {
  display: flex;
  flex: 1;
  

}

.flex_nav {
  background-color: rgb(200, 223, 244);
  padding-top: 3rem;
  flex: 1 1 5rem;
}

.flex_article {
  background-color: rgb(200, 223, 244);
  padding-top: 3rem;
  /* padding-bottom: 2rem; */
  flex: 3 3;
}

.flex_aside {
  background-color: rgb(200, 223, 244);
  padding-top: 3rem;
  flex: 1 1 5rem;
}

.flex_footer {
  background-color:  rgb(200, 223, 244);
  padding-top: 3rem;
}

@media all and (max-width: 500px) {
  .flex_main {
    flex-direction: column;
  }
}